################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bitrix_gate/bin/Debug/netcoreapp3.1
/bitrix_gate/obj
/.vs/bitrix_gate
/bitrix_gate/Properties/Resources.resx
/bitrix_gate/Properties/Resources.Designer.cs
/.idea/.idea.bitrix_gate/.idea
/.idea/.idea.bitrix_gate
